obj
bin
Bin
debug
Debug
Debug_NoPostSharp
release
Release
Data
_Resharper.*
_ReSharper.*
*.opensdf
*.sdf
*.xap
*.old
*.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*.Cache
*~
*.swp
*.dbproj.user
*.dbproj.schemaview
*.dbmdl
*.log
*.ser
*.dbmdl
/Prototypes/Rest/RestfulClientServer/Tools/MongoDB/logs