<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="OpenRasta.Hosting.AspNet" />
        <add assembly="OpenRasta.Codecs.WebForms" />
        <add assembly="OpenRasta" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="OpenRasta.Web" />
        <add namespace="OpenRasta.Codecs.WebForms" />
        <add namespace="OpenRasta" />
      </namespaces>
    </pages>

    <httpHandlers>
      <add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" />
    </httpHandlers>

    <httpModules>
      <add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet" />
    </httpModules>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet" />
    </modules>
    <handlers >
      <add name="RastaIIS5CompatHandler" path="*.rastahook" verb="*" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

</configuration>